html {
  font-size: 16px;
  background-color: #f3f4f5;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}

.gu-transit {
  opacity: .2;
}